In [1]:
import pandas as pd
import numpy as np

notes = pd.Series([14, 12, np.nan, 9, 16, 18, np.nan, 13], 
                  index=["Alice", "Bob", "Charles", "David", "Emma", "Fatou", "Greg", "Hugo"])

Afficher les noms des étudiants

In [3]:
print(notes.index)

Index(['Alice', 'Bob', 'Charles', 'David', 'Emma', 'Fatou', 'Greg', 'Hugo'], dtype='object')

 Accéder à la note de Fatou et Charles

In [5]:
notes[["Fatou", "Charles"]]

Fatou      18.0
Charles     NaN
dtype: float64

Quels étudiants ont eu une note ≥ 14 ?

In [7]:
notes[notes >= 14]

Alice    14.0
Emma     16.0
Fatou    18.0
dtype: float64

Remplacer les NaN par la moyenne des autres notes

In [10]:
moyenne_sans_nan = notes.mean()       # moyenne automatique sans les NaN
notes_filled = notes.fillna(moyenne_sans_nan)

notes_filled

Alice      14.000000
Bob        12.000000
Charles    13.666667
David       9.000000
Emma       16.000000
Fatou      18.000000
Greg       13.666667
Hugo       13.000000
dtype: float64

 Calculer la moyenne générale des notes

In [15]:
moyenne_generale = notes/len(notes)  # moyenne générale avec les NaN
moyenne_generale1 = notes.mean()      # moyenne générale sans les NaN   

print(moyenne_generale, "/n", moyenne_generale1)

Alice      1.750
Bob        1.500
Charles      NaN
David      1.125
Emma       2.000
Fatou      2.250
Greg         NaN
Hugo       1.625
dtype: float64 /n 13.666666666666666

Créer une Series bonus avec +1 pour les notes ≥ 14

In [17]:
bonus = notes.copy()
bonus[bonus >= 14] = bonus[bonus >= 14] + 1
bonus[bonus < 14] = 0

bonus

Alice      15.0
Bob         0.0
Charles     NaN
David       0.0
Emma       17.0
Fatou      19.0
Greg        NaN
Hugo        0.0
dtype: float64

 Combiner notes et bonus en addition

In [18]:
notes + bonus

Alice      29.0
Bob        12.0
Charles     NaN
David       9.0
Emma       33.0
Fatou      37.0
Greg        NaN
Hugo       13.0
dtype: float64

Quels étudiants n’ont pas été notés ?

In [26]:
notes[notes.isna()]
# notes[notes.isna().sum()]  # qui n'ont pas été notés ?

Charles   NaN
Greg      NaN
dtype: float64

 Quel est le max et le min des notes ?

In [31]:

notes.max() ,notes.min()

(18.0, 9.0)

qui a eu la meilleure note ? &&  qui a eu la moins bonne note ?

In [ ]:
print(notes[notes == notes.max()])  
print(notes[notes == notes.min()])

Fatou    18.0
dtype: float64
David    9.0
dtype: float64
Index(['Fatou'], dtype='object')

Trier les notes par ordre décroissant

In [34]:
tri = notes.sort_values(ascending=False)
tri

Fatou      18.0
Emma       16.0
Alice      14.0
Hugo       13.0
Bob        12.0
David       9.0
Charles     NaN
Greg        NaN
dtype: float64

Trier les notes par ordre croissant

In [38]:
tri = notes.sort_values(ascending=True)
tri

David       9.0
Bob        12.0
Hugo       13.0
Alice      14.0
Emma       16.0
Fatou      18.0
Charles     NaN
Greg        NaN
dtype: float64